<app-header></app-header>
<app-filter-box (searchEvent)="handleMovieSearch($event)"></app-filter-box>
<p *ngIf="!movies" class="text-center h3 mt-2">No movies found.</p>
<app-favorite-movies [favoriteMovies]="favoriteMovies"></app-favorite-movies>
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="grid-container p-3">
  <app-movie-tile *ngFor="let movie of movies" [movie]="movie" (addMovieEvent)="addToFavorites($event)" (removeMovieEvent)="removeFavoriteMovie($event)"></app-movie-tile>
</div>
<app-footer [currentRoute]="''"></app-footer>